<h1>Kendo Clarity Tree Comparison</h1>

<p>There are 4 series of tests run, each with different total nodes. Each test has two parts, testing the time it takes to render the initial top level tree, and then the Expand test compares how long it takes to create and expand the first top level item. Each test is run with 1000, 3000, 5000, and 10000 nodes. This test is setup with both using a basic lazy loaded tree view with the same numer of nodes and nothing else. Each node will generate a duplicate of the same number of nodes forever.</p>

<p>This helps isolate the two implementations and show the comparison in isolation. There may be variance between runs, due to resource allocation and other runtime constraints. However, these tests are running on the same CI/CD pipeline each time, so they should be pretty similar. If there is a large outlier, it should be rerun to see if it persists.</p>

<highcharts-chart 
  *ngIf="chartOptions.series.length"
  [Highcharts]="Highcharts"

  [constructorType]="chartConstructor"
  [options]="chartOptions"
  [callbackFunction]="chartCallback"

  [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>

<ol>
  <li>ClarityTreeComponent - This test calculates the total time to render a Clarity tree with a certain numer of top level nodes.</li>
  <li>KendooTreeComponent - This test calculates the total time to render a Kendo tree with a certain numer of top level nodes.</li>
  <li>ClarityDndTreeComponent - This test calculates the total time to render a Clarity tree using some of the same drag and drop directives.</li>
  <li>ClarityNoIconsComponent - This is an implementation of the Clarity tree without icons to see what the icons impact is.</li>
</ol>

<p>The Expand version of the test above indicates the test that expands the first top level item.</p>

<h2>Results in a Table</h2>

<clr-datagrid>
  <clr-dg-column clrDgField="name">Test</clr-dg-column>
  <clr-dg-column clrDgField="node1000">1000 Nodes</clr-dg-column>
  <clr-dg-column clrDgField="node3000">3000 Nodes</clr-dg-column>
  <clr-dg-column clrDgField="node5000">5000 Nodes</clr-dg-column>
  <clr-dg-column clrDgField="node10000">10000 Nodes</clr-dg-column>

  <clr-dg-row *clrDgItems="let row of chartOptions.series">
    <clr-dg-cell>{{row.name}}</clr-dg-cell>
    <clr-dg-cell>{{row.data[0]}}</clr-dg-cell>
    <clr-dg-cell>{{row.data[1]}}</clr-dg-cell>
    <clr-dg-cell>{{row.data[2]}}</clr-dg-cell>
    <clr-dg-cell>{{row.data[3]}}</clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>
