<ul class="nav" role="tablist">
  <li role="presentation" class="nav-item">
      <button id="tab1" class="btn btn-link nav-link" type="button" routerLink="/clarity" routerLinkActive="active">Clarity</button>
  </li>
  <li role="presentation" class="nav-item">
      <button id="tab2" class="btn btn-link nav-link" type="button" routerLink="/kendo" routerLinkActive="active">Kendo</button>
  </li>
  <li role="presentation" class="nav-item">
      <button id="tab3" class="btn btn-link nav-link" type="button" routerLink="/chart" routerLinkActive="active">Chart</button>
  </li>
</ul>

<router-outlet></router-outlet>