name: Compare

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - run: npm install
    - run: npm test -- --watch false > output.txt
    - run: npm run build
    - run: cp dist/h5-tree-compare/index.html dist/h5-tree-compare/404.html
    - run: node parse-output
      env:
        CI: true
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist/h5-tree-compare
    - name: Archive data
      uses: actions/upload-artifact@v2
      with:
        name: data
        path: src/assets/data.json